<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="aashi.fiaxco.asquiretyle0x0a">

	<uses-feature
		android:name="android.hardware.microphone"
		android:required="true" />
	<uses-feature
		android:name="android.hardware.audio.output"
		android:required="true" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.AsquireTyle0x0A">
		<service
			android:name=".asqengine.UploadService"
			android:enabled="true"
			android:exported="false" />
		<service
			android:name=".asqengine.AudioService"
			android:enabled="true"
			android:exported="false" />

		<activity
			android:name=".RecordActivity"
			android:screenOrientation="portrait"
			android:parentActivityName=".UserIDActivity"
			android:theme="@style/Theme.AsquireTyle0x0A" />
		<activity
			android:name=".SurveyActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AsquireTyle0x0A"/>
		<activity
			android:name=".UserIDActivity"
			android:icon="@drawable/asquire_logo"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"
			android:theme="@style/Theme.AsquireTyle0x0A">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>